<footer class="now-playing">
{{#if model}}
  <img class="now-playing-artwork" {{bindAttr src=album.artwork}}>
  <div class="now-playing-body">
    <p class="now-playing-details">
      <span class="now-playing-name">{{name}}</span> -
      <span class="now-playing-artist">{{album.artist}}</span>
    </p>
    <div class="now-playing-player">
    </div>
  </div>
{{else}}
  <span class="now-playing-empty">Select a song to start playing.</span>
{{/if}}
</footer>